@import url('https://fonts.googleapis.com/css?family=Karla');

@media only screen and (max-width: 479px) {
    #button_container {
        background-color: var(--medium);
        padding: 0;
        overflow: auto;
    }

    #button_container button {
        background: none;
        display: block;
        border: none;
        color: white;
        padding: 1em;
        height: auto;
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 1.25em;
        margin: 0;
        float: left;

        transition-duration: 0.1s;
    }

    #button_container button:hover {
        background-color: var(--light);
    }

    #button_container button.active {
        color: var(--medium);
        background-color: white;
    }
}