@import url('https://fonts.googleapis.com/css?family=Karla');

@media only screen and (min-width: 480px) {
    #button_container {
        background-color: var(--medium);
        flex-grow: 1;
        box-shadow: 2px 0px 2px lightgray;
    }

    #button_container button {
        background: none;
        display: block;
        border: none;
        color: white;

        padding: 1em;
        width: 100%;
        text-align: left;
        font-family: 'Karla', sans-serif;
        font-size: 1.25em;

        transition-duration: 0.1s;
    }

    #button_container button:hover {
        background-color: var(--light);
    }
}