:root {
	--color-light: #ef4e6e;
	--color-medium: #dc143c;
	--color-dark: #960e29;
}

* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
}

body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 20rem auto 20rem;
	grid-template-rows: auto;
}

button::-moz-focus-inner {
	border: 0;
}

button:focus {
	outline: none;
}
