#results_array_box {
	padding: 0.5rem;
}

div.result_box {
	background-color: var(--color-light);
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	color: white;
}

div.result_box hr {
	border-color: white;
	color: white;
}
