#results_array_box {
	padding: 1rem;
}

div.result_box {
	background-color: var(--color-light);
	padding: 1rem;
	margin-bottom: 1rem;
	color: white;
}

div.result_box hr {
	border-color: white;
	color: white;
}
