#menu_box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: max-content auto max-content;
}

#menu_box #title_section {
	padding: 1rem;
	color: var(--color-light);
	text-align: left;
}

#menu_box #title_section p:nth-child(1) {
	font-size: 18pt;
}

#menu_box #title_section p:nth-child(2) {
	font-size: 8pt;
}

#repo_page_section,
#buttons_section {
	padding: 1rem;
}

#repo_page_section button {
	border: 1px solid var(--color-light);
	background: 0;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
	text-align: left;
	font-size: 12pt;
	color: var(--color-light);
	transition-duration: 100ms;
}

#buttons_section button {
	border: 1px solid var(--color-light);
	background: 0;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
	text-align: left;
	font-size: 12pt;
	color: var(--color-light);
	transition-duration: 100ms;
	margin-bottom: 1rem;
}

#repo_page_section button:hover,
#buttons_section button:hover {
	color: white;
	background-color: var(--color-light);
}

#repo_page_section button:active,
#buttons_section button:active,
#buttons_section button.active {
	background-color: var(--color-medium);
	color: white;
}
