#buttons_box {
	background: none;
	display: flex;
	flex-direction: column;
}

#buttons_box button {
	background: 0;
	border: 0;
	gap: 0.25rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	color: var(--color-light);
	font-size: 15pt;
}

#buttons_box button:hover {
	background-color: var(--color-light);
	color: white;
}

#buttons_box button.active {
	background-color: var(--color-medium);
}
