#results_array_box {
	padding: 1rem;
	overflow-y: auto;
}

div.result_box {
	background-color: var(--color-light);
	padding: 1rem;
	margin-bottom: 1rem;
	color: white;

	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, max-content);
	gap: 0.5rem;
}

div.result_box hr {
	border-color: white;
	color: white;
}
