@media only screen and (min-width: 1000px) {
	:root {
		--color-light: #c51236;
		--color-medium: #ad102f;
		--color-dark: #960e29;
		--color-foreground: white;
		--color-background: whitesmoke;
		--color-shadow: lightgray;
	}

	* {
		padding: 0;
		margin: 0;
		font-family: 'Noto Sans';
	}

	body {
		height: 100vh;
		width: 100vw;
		display: grid;
		grid-template-columns: 20rem auto 20rem;
		grid-template-rows: auto;
		background-color: var(--color-background);
	}

	div.common_box {
		padding: 1rem;
		background-color: var(--color-light);
		color: var(--color-foreground);
		border-radius: 4px;
		box-shadow: 0px 0px 2px var(--color-dark);
	}

	button.common_button {
		padding: 0.5rem;
		background-color: var(--color-foreground);
		color: var(--color-light);
		border: none;
		border-radius: 4px;
		cursor: pointer;
		transition-duration: 100ms;
	}

	button.common_button:active {
		background-color: var(--color-dark);
		color: var(--color-foreground);
	}
}
