@media screen and (min-width: 1000px) {
	#menu_section {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: max-content auto max-content;
		gap: 0.5rem;
		margin-left: 0.5rem;
		margin-top: 0.5rem;
		margin-right: 0.25rem;
		margin-bottom: 0.5rem;
	}

	#shape_button_array {
		display: flex;
		flex-direction: column;
	}

	#title_box,
	#about_box {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		gap: 0.5rem;
	}

	#about_box {
		text-align: center;
	}

	#title_box p:nth-child(1) {
		font-size: x-large;
	}

	#title_box p:nth-child(2) {
		font-size: smaller;
	}

	#title_box a {
		color: var(--color-foreground);
	}
}
