@media only screen and (min-width: 1000px) {
    #result_section {
        overflow-y: auto;
    }

    .result_box {
        background-color: var(--color-light);
        color: var(--color-foreground);
        padding: 1rem;
        border-radius: 4px;
        box-shadow: 0px 0px 2px var(--color-dark);
        display: grid;
        grid-template-rows: repeat(3, auto);
        gap: 0.25rem;
        margin-bottom: 0.5rem;
    }

    .result_box .fraction {
        display: grid;
        grid-template-rows: auto 1px auto;
        grid-template-columns: auto;
    }

    .result_box .fraction #fraction_line {
        background-color: var(--color-foreground);
    }

    .result_box #result_title {
        font-size: x-large;
    }
}