@import url('https://fonts.googleapis.com/css?family=Lato');

@media only screen and (min-width: 480px) {
    #introduction_divider, #calculator_panel {
        font-family: 'Lato', sans-serif;
        border: 1px solid lightgray;
        border-radius: 1em;
        background-color: whitesmoke;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }

    #answer_box {
        font-family: 'Lato', sans-serif;
        border: 1px solid mediumaquamarine;
        border-radius: 1em;
        background-color: lightgreen;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }
}