@import url('https://fonts.googleapis.com/css?family=Lato');

@media only screen and (min-width: 480px) {
    #introduction_divider, #calculator_panel {
        font-family: 'Lato', sans-serif;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }

    .answer_box {
        font-family: 'Lato', sans-serif;
        border: 1px solid lightgreen;
        border-radius: 1em;
        padding: 1em;
        margin: 1em;
        text-align: center;
    }

    .click_button {
        border: 1px solid lightgray;
        border-radius: 0.5em;
        background: none;
        padding: 1em;

        transition-duration: 0.1s;
    }

    .click_button:hover {
        background-color: lightgray;
        color: white;
    }
}