:root {
	--color-light-theme-light: #dc143c;
	--color-light-theme-dark: #960e29;
	--color-light-foreground: white;
	--color-light-background: whitesmoke;
	--color-light-shadow: darkgray;

	--size-box-margin: 0.5rem;
	--size-element-padding: 0.25rem;
	--size-inner-padding: 1rem;
	--size-border-radius: 8px;
	--size-shadow: 2px;
	--size-text-title: 20pt;
	--size-text-regular: 12pt;
}

* {
	padding: 0;
	margin: 0;
	stroke: transparent;
	fill: transparent;
	font-size: var(--size-text-regular);
}

body {
	width: calc(100vw - calc(2 * var(--size-box-margin)));
	height: calc(100vh - calc(2 * var(--size-box-margin)));
	background-color: var(--color-light-background);
	gap: var(--size-box-margin);
	margin: var(--size-box-margin);
}

@media screen and (min-width: 960px) {
	body {
		display: grid;
		grid-template-columns: 20rem auto 20rem;
		grid-template-rows: auto;
	}

	div.common_box {
		background-color: var(--color-light-theme-light);
		padding: var(--size-inner-padding);
		border-radius: var(--size-border-radius);
		box-shadow: 0px 0px var(--size-shadow) var(--color-light-theme-dark);
		color: var(--color-light-foreground);
	}
}
