button.icon_button {
	fill: var(--color-light-shadow);
	color: var(--color-light-shadow);
	background-color: var(--color-light-foreground);
	border: 0;
	padding: 0.5rem;
	display: flex;
	flex-direction: row;
	border-radius: 8px;
	cursor: pointer;
}

button.icon_button:hover {
	fill: var(--color-light-theme-light);
	color: var(--color-light-theme-light);
}

button.icon_button:active {
	fill: var(--color-light-theme-dark);
	color: var(--color-light-theme-dark);
}

button.icon_button p,
button.icon_button svg {
	margin-top: auto;
	margin-bottom: auto;
}

button.icon_button p {
	margin-left: 0.5rem;
}
