@media screen and (min-width: 960px) {
	#menu_section {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: max-content auto max-content;
		gap: 0.5rem;
	}

	#settings_box {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		gap: 0.5rem;
	}
}

#title_box p:nth-child(1) {
	font-size: 24pt;
	margin-bottom: 0.25rem;
}

#title_box a {
	color: var(--color-light-foreground);
}
