@media screen and (min-width: 960px) {
	#menu_section {
		display: grid;
		grid-template-rows: max-content auto max-content;
		grid-template-columns: auto;
		gap: 0.5rem;
	}

	#menu_section #title_box {
		display: flex;
		flex-direction: column;
	}

	#menu_section #title_box p:nth-child(1) {
		font-size: 20pt;
		margin-bottom: 0.25rem;
	}

	#menu_section #title_box a {
		color: var(--color-foreground);
	}

	#settings_box {
		display: grid;
		grid-template-rows: repeat(3, max-content);
		gap: 0.5rem;
	}
}
