#output_section {
	display: grid;
	grid-template-rows: 1fr auto;
	grid-template-columns: auto;
}

#clear_output_button_box {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}
